/**********************
	NAVIGATION
**********************/

.navbar-brand,
.navbar-nav > li > a {
	font-size: 1.5em;
}

.navbar > .container-fluid .navbar-brand {
	font-size: 2em;
}

/**********************
	STICKY FOOTER
**********************/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 45px;
  /* Margin top by navbar height */
  margin-top: 45px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  /* footer text styling */
  background-color: #1a1a1a;
  color: #ffffff;
}

footer > p {
	font-size: 16px;
	padding-top: 5.5px;
	margin: 0;
}

.push {
	margin-bottom: 3em;
}

/**********************
	HOME PAGE
**********************/

.title-container {
	margin-top: 35%;
	text-align: center;
	color: #262626;
	text-shadow: 2px 2px 10px white;
}

@media (max-device-width: 992px) {
	.title-container {
		margin-top: 15%;
	}
}

.title-container > h1 {
	font-size: 4.5em;
	font-family: 'Candal', sans-serif;
}

.title-container > h3 {
	font-size: 2.5em;
	font-family: 'Candal', sans-serif;
}

.home-page > h2 {
	text-align: center;
	font-size: 2em;
	font-weight: 700;
}

.home-page > p {
	line-height: 2;
	text-align: center;

}


/********************
	SERVICES PAGE
********************/
.services {
	min-height: calc(100vh - 90px);
	background-image: url("../images/flag.gif");
	background-size: cover;
}

#services-header > h1,
.services .panel-heading > h3 {
	font-weight: 700;
	text-align: center;
}

#services-header > p,
.services .panel-heading > p,
.services-list {
	text-align: center;
	font-family: 'Merriweather', serif;
}

#services-header h1 {
	margin: 1em 0 .75em 0;
	padding-top: 1.5em;
}

#services-header > p {
	line-height: 2;
}

#services-header {
	width: 55%;
	margin: 2em auto;
}




/********************
	EVENTS PAGE
********************/


/********************
	FORUM PAGE
********************/

#forum-background {
	min-height: calc(100vh - 90px);
	background-image: url("../images/flag.gif");
	background-size: cover;
}

/***********************
	FORUM ANSWERS PAGE
***********************/

#forum-answers-page {
	margin-top: calc(45px + 2em);
}

#forum-answers-page .panel-heading > p {
	word-wrap: break-word;
}

.forum-btn {
	margin: 0 5px;
}

/**********************
	MODEL COMPONENT
**********************/
.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}

/**********************
	RESOURCES PAGE
**********************/
.resources {
	min-height: calc(100vh - 90px);
	background-image: url("../images/flag.gif");
	background-size: cover;
}

.resources .heading {
	font-weight: 700;
}

.resources h1 {
	text-align: center;
	margin-bottom: 1.6em;
	padding-top: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.resources a:hover {
	text-decoration: none;
	color: #000;
}

.resources p {
	line-height: 2;
	font-family: 'Merriweather', serif;
}

.resources .icon {
	margin-right: 12px;
}

.resources h3 {
	color: #008cba;
}

.resources .click {
	font-size: 1.2em;
}

#funding-h1 {
	margin: 1.5em;
	padding: 0px;
	font-size: 3em;
}

.funding h2 {
	font-weight: 600;
}

.funding,
.education,
.jobs,
.health {
	background-color: transparent;
}

.funding .panel-heading,
.education .panel-heading,
.jobs .panel-heading,
.health .panel-heading {
	background-color: skyblue;
    opacity: .8;
    border-radius: 10px;
}

/**********************
	Maps?
**********************/

.leaflet-container {
	height: 600px;
	width: 100%;
}

.tdfield{
	width: 160px;
	height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


/**********************
	ABOUT PAGE
**********************/
#about-background {
	min-height: calc(100vh - 90px);
	background-image: url("../images/flag.gif");
	background-size: cover;
}

.about-page > h1 {
	text-align: center;
	font-weight: 700;
	font-size: 3em;
	margin: 1.5em 0 1em 0;
}

.about-page > p {
	line-height: 2;
	font-family: 'Merriweather', serif;
}

#about-photo {
	position: relative;
	top: 50px;
}

#about-photo > img {
	padding: 10px;
}

#about-photo > p {
	margin-left: 10px;
	font-style: italic;
}

.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #008cba;
    border-color: #008cba;
}
